.tweet{
    max-width: 700px;
    min-height: 150px;
    height: auto;
    width: auto;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    padding: 20px;
    margin: 0 auto  20px  auto;
}

.profile_img{
    width: 70px;
    height: 70px;
}

.add_data{
    float: left;
    min-width: 100px;
    padding-left: 20px;
}

.location{
    float: right;
    min-width: 100px;
}

.user_name{
    font-weight: 800;
}